<h1>Add new course<h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="add" method="post" novalidate>
        <div class="input-field">
          <input id="title" name="title" type="text" value="{{data.title}}" class="validate" required>
          <label for="title">Имя курса</label>
          <span class="helper-text" data-error="Введіть назву" ></span>
        </div>
        <div class="input-field">
          <input id="price" name="price"  value="{{data.price}}" type="number" class="validate" required min="1">
          <label for="price">Цена курса</label>
          <span class="helper-text" data-error="Введите ціну" ></span>
        </div>
        <div class="input-field">
          <input id="img" value="{{data.img}}" name="img" type="text" class="validate" required>
          <label for="img">url картинки</label>
          <span class="helper-text" data-error="Введите url" ></span>
        </div>
        <input type="hidden" name = "_csrf" value="{{csrf}}">
        <button class="btn btn-primary">Добавить</button>
</form>